#title {
    font-size: 36px;
    font-weight: bold;
}

/* CSS HEX
--prussian-blue: #0b3954ff;
--magnolia: #ece5f0ff;
--minion-yellow: #ffe45eff;
--amber-sae-ece: #ff7f11ff;
--united-nations-blue: #5995edff; */